.content {
  .customer-name {
    max-width: 320px;
  }

  .track {
    display: flex;
    align-items: baseline;
    column-gap: 16px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      font: var(--mat-sys-title-large);
    }
  }
}

.quantity {
  display: flex;
  align-items: center;

  .quantity-value {
    min-width: 32px;
    text-align: center;
  }
}

.mat-column-price {
  width: 25%;
}

.mat-column-quantity {
  width: 35%;
}
